* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(159, 189, 235);
}

span {
	padding: 5px;
}

.wrapper {
	padding: 0;
	margin: 20px auto;
	max-width: 900px;
}

.weather {
	margin: 0 auto;
}

.weather__daily p {
	text-align: center;
}

table {
	max-width: 500px;
	margin: 0 auto;
}

table, th, td {
	border: 1px solid black;
}

table tr td:last-child {
	width: 200px;
	padding-left: 5px;
}

h2 {
	text-align: center;
}

.weather__weekly {
	margin-top: 20px;
	border: 1px solid black;
	width: 100%;
}

.weather__header p {
	padding: 5px 10px;
	background-color: rgb(192, 192, 192);
}

.weekly__perhour {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border: 1px solid gray;
}

.weekly__perhour-left {
	display: flex;
	align-items: center;
}