@import "normalize.css";

html {
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

a {
	color: #404040;
}
a:hover, a:focus {
	color: #0013a1;
	transition: all 0.2s linear;
}

a, a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
	padding: 0 5px 0 5px;
	text-align: center;
}

ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
	margin: 0 auto;
}

.container {
	display: grid;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 2rem;
}

.item {
	overflow: hidden;
	padding: 20px 3% 0 3%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 5px 3px 3px 2px rgba(0, 0, 0, .05);
}

.item_red {
	grid-row-start: 1;
	grid-row-end: 3;
	border: 1px solid #ff6666;
}
.item_orange {
	border: 1px solid #ff931d;
}
.item_yellow {
	border: 1px solid #ffbe17;
}

.circle {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.circle_red {
	background: #ff6666;
}

.circle_orange {
	background: #ff931d;
}

.circle_yellow {
	background: #ffbe17;
}

.item__header {
	display: flex;
	justify-content: space-between;
}

.item__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.item__info span {
	display: block;
}

.item__info p {
	max-width: 185px;
}

.item__price {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: 1px dashed grey;
	padding-bottom: 5px;
}

.item__price > span {
	padding-left: 10%;
}

.item__price > div {
	display: flex;
	align-items: flex-end;
}

.item__text {
	font-size: 14px;
}

.item__footer {
	font-size: 13px;
	border-top: 1px dashed grey;
}

.item__img {
	position: absolute;
	right: 0;
	top: 1%;
	z-index: -1;
}

.item_red .item__img {
	position: absolute;
	right: 20%;
	top: 2%;
	z-index: -1;
}

.item__price {
	font-size: 13px;
	color: #878787;
}

.new-price {
	font-size: 21px;
	margin-right: 10%;
}

.item_red .item__price {
	font-size: 14px;
}

.item_red .new-price {
	font-size: 25px;
	color: #ff6666;
	margin-right: 10%;
}

.item_orange .new-price {
	color: #ff931d;
}

.item_yellow .new-price {
	color: #ffbe17;
}

.old-price {
	color: #878787;
	text-decoration: line-through;
}

/*Media queries*/

@media only screen and (max-width: 1000px) {
	.container {
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 1rem;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
	}
	.item_red .item__img {
		right: -5.8rem;
	}
	.item_orange .item__img {
		right: -1.5rem;
	}
	.item_yellow .item__img {
		right: -1.5rem;
	}
	.item img {
		width: 80%;
	}
	.item_red img {
		width: 43%;
	}
	.item_red .item__price {
		padding-top: 40px;
	}
}